[Unit]
Description=Panorama Player
OnFailure=reboot.service

[Service]
ExecStart=/usr/local/bin/panoramaplay.sh
Type=simple

[Install]
WantedBy=sound.target
